* {
  box-sizing: border-box;
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fCRc4AMP6lbBP.woff2); 
}

body {
  padding: 0px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: currentColor;
}

h2 {
  margin-top   : 15px;
  margin-bottom: 5px;
}

h3 {
  margin-top   : 10px;
  margin-bottom: 0px;
  font-size    : 16px;
}

p {
  margin-top   : 5px;
  margin-bottom: 10px;
}

p.footer {
  margin-top   : 0px;
  margin-bottom: 0px;
}

div.block {
  float: left;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  padding-right: 10px;
}

div.blockborder {
  float: left;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  border: solid grey 1px;
}

div.listtrim {
  float: left;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
}

label.listheader {
  display: block;
  height: 25px;
  padding-left: 5px;
  padding-right: 5px;
  border-bottom: solid grey 1px;
}

select.list {
  padding: 5px;
  margin: -5px -20px -5px -5px;
}

div.blockright {
  float: right;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
}

div.blockend {
  clear: left;
}

div.footer {
  margin: auto;
  padding-top: 10px;
  max-width: min(100%, 1125px);
  text-align: center;
  font-size: 12px;
}

div.container {
  margin: auto;
  max-width: min(100%, 1125px);
}

div.float-container {
  margin: auto;
}

@media only screen and (width >= 800px) {
  div.intro {
    display: flex;
  }
}

/* On desktop screen use side by side editing */
@media only screen and (width >= 1125px) {
  div.float-container {
    margin: 0 auto;
  }
  
  div.float-child-abc {
    width: max(600px, 50%);
    float: left;
    padding: 0px;
    padding-right: 10px;
  }
  
  div.float-child-tab {
    max-width: 1125px;
    overflow: hidden;
    padding: 0px;
  }
}

div.overlay-container {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  text-align:center;
  align-items: center;
  justify-content: center;
}

div.overlay {
   background-color: #ffffff;
   width:            400px;
}

select.drop {
  padding: 0px 0px 0px 5px;
  min-width: 215px;
}

label.drop {
  display: inline-block;
  min-width: 145px;
  margin-left: 4px;
}

h4 {
  margin-bottom: 0px;
}

textarea {
  width: 100%;
  border: 2px solid currentColor;
  height: 300px;
  padding: 10px;
}

#warnings {
  color: #dd0000;
  padding: 5px 0;
}

@media (prefers-color-scheme: dark) {
  div.overlay {
    background-color: #000000;
  }
   
  body {
    color: #ffffff;
    background: #121212;
  }
  
  .visible-background svg {
    background: #404040;
  }
  
  a:link {
    color: red;
  }
  
  a:visited {
    color: brown;
  }
}

div.abcscroll {
  float: left;
  clear: left;
  border: 1px solid #888;
  overflow-y: auto;
  width: 100%;
}

[contenteditable] {
  outline: 0px solid transparent;
}

.highLite {
  height:100%;
  min-height:300px;
  font-family: monospace;
  font-size: 12px;
  line-height: 1.2;
  position: relative;
}

.highLite_colors,
.highLite_editable {
  height:100%;
  padding: 16px;
  word-wrap: break-word;
}

/* THE UNDERLAYING ONE WITH COLORS */
.highLite_colors {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; 
  user-select: none;
}

/* THE OVERLAYING CONTENTEDITABLE WITH TRANSPARENT TEXT */
.highLite_editable {
  position: relative;
  color: transparent; /* Make text invisible */
  caret-color: black; /* But keep caret visible */
}

.hl_angled{ color: turquoise; }
.hl_curly{ color: fuchsia; }

.print_paper { 
  display:none;
}
@media print {
  .container,
  .float-container,
  .footer,
  .overlay-container {
    display:none;
  }
  .print_paper { 
    display:block;
  }
}

div.title {
  display        : flex;
  justify-content: space-between;
}

 /* Dropdown Button */
.dropbtn {
  background-color: #888888;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  min-width: 180px;
  text-align: left
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  vertical-align: text-top;
  font-size: 20px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 10px 10px;
  text-decoration: none;
  display: block;
  vertical-align: text-top;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;} 

img.lang {
	vertical-align: text-top;
	padding-right: 10px;
}